* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Feel free to change the font */
}

body {
    background-color: #f2f2f2; /* Grigio chiaro quasi bianco */
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(to bottom, #001233, #001845);
    color: #EEEEEE;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo img {
    width: 90px; /* Increased logo width */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Center logo vertically */
}

.logo-text {
    margin-left: -10px; /* Spacing between logo and text */
    color: #fff; /* Color of the text */
    font-size: 17px; /* Size of the text */
    font-weight: normal; /* Weight of the font */
}

nav .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

nav .nav-link:hover {
    color: #a2a2a2; /* Lighten the link on hover */
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ba181b;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.btn-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); /* Questo renderà l'SVG bianco */
}

.btn-down {
    background-color: #0056b3; /* Blue for primary button */
}

.btn:hover {
    background-color: #ec0868;
}

.btn-down:hover {
    background-color: #023e8a;
}


/* Secondary Navigation Styles */
.secondary-nav {
    background-image: linear-gradient(to top,#0b132b, #1c2541);
    color: #fff;
    padding: 10px 20px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-buttons .btn {
    margin: 0 10px;
}

/* Album Section Styles */
.album-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.album-card {
    background-image: linear-gradient(to bottom, #5C636E, #70787E); /* Sfumatura da Grigio piombo a Grigio più chiaro */
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.60);
}

.thumbnail {
    border-radius: 20px;
    background-color: #B2B1B9;
    height: 150px; /* Adjust height as necessary */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px; /* Example size, adjust as needed */
    box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.40);
}

.album-info p {
    margin-bottom: 10px; /* Adjust as needed */
}

.album-actions {
    display: flex;
    justify-content: space-between; /* This will be adjusted */
    align-items: center;
}

.view-btn {
    flex-grow: 0;
    background-color: #95A5A6; /* Dark gray for differentiation */
    border-right: 1px solid #777; /* Adds a border between buttons */
}

.view-btn:hover {
    background-color: #798D8F; /* Lighter gray on hover */
}

.view-btn:last-child {
    border-right: none; /* No border on the right of the last button */
}

.date {
    font-size: 0.8em;
    color: #ccc; /* Light gray for time info */
}

@media (max-width: 600px) {
    header, .secondary-nav {
        flex-direction: column;
        align-items: center;
    }

    .album-container {
        grid-template-columns: 1fr; /* Stacks albums vertically on small screens */
    }
}