body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.navbar {
    background-color: #123456; /* Colore di sfondo */
    color: #ffffff; /* Colore del testo */
    font-family: Arial, sans-serif;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box; /* Include padding in width calculation */
    justify-content: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.navbar-title {
    position: absolute;
    left: 47%; /* Sposta il titolo al 50% della navbar */
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    flex: 0 1 auto;
}

.nav-button.logout-button {
    margin-left: auto;
}

.nav-button button {
    background-color: #123456;
    font-size: 1em;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15pc;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.nav-button button:hover {
    background-color: #0056b3;
    border-radius: 15pc;
}

.image-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 6px #a6a6a6;
    border-radius: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.comment-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 6px #a6a6a6;
    border-radius: 20px;
}

.comments-list ul {
    list-style-type: none;
    padding: 0;
}

.comments-list li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
}

.error-message {
    color: red;
    background-color: #ffeeee;
    padding: 1rem;
    text-align: center;
}

.success-message {
    color: green;
    background-color: #eeffee;
    padding: 1rem;
    text-align: center;
}