/* ---------------------------------- Home Page Style---------------------------------- */

/* General Styles */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.nav {
    box-shadow: 0 4px 8px #9e9e9e;
    border-radius: 20px;
}

nav ul {
    list-style-type: none;
    background-color: #123456;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 20px;
}

nav li {
    flex: 1;
    border-radius: 20px;
}

nav li label {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

nav li label:hover {
    background-color: #0056b3;
    border-radius: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease-out;
}

input[name="panel"] {
    display: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.content {
    display: none;
    padding: 20px;
}

/* Show the content corresponding to the selected radio button */
#myAlbumsPanel:checked ~ #myAlbumsContent,
#otherAlbumsPanel:checked ~ #otherAlbumsContent,
#createAlbumPanel:checked ~ #createAlbumContent,
#addImagePanel:checked ~ #addImageContent,
#profilePanel:checked ~ #profileContent {
    display: block;
}

/* --- Styles for the album grid --- */

/* Album container */
.album-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: calc(5 * 250px + 4 * 20px);
    box-sizing: border-box;
}

/* Album folder */
.album {
    position: relative;
    width: 250px;
    height: 180px;
    background-color: #007BFF;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.album:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.album::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    width: 90px;
    height: 30px;
    background-color: #007BFF;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.album:hover::before {
    background-color: #0056b3;
}

.album p {
    margin: 8px 0;
    color: #f8f8f8;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}

.album a {
    all: unset;
    display: block;
    width: 100%;
    height: 100%;
}

.album a p {
    color: #f8f8f8;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

input[type="file"] {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}



/* --- Styles for the forms --- */

/* General form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="file"],
form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #007BFF;
    width: 80px;
    height: 40px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px #9e9e9e;
    border-radius: 9px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    border-radius: 9px;         /****** !!! ******/
}

/* Styles for the albumsCheckbox */
.albumsCheckbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.albumsCheckbox label {
    margin-bottom: 5px;
    font-weight: normal;
}

.error-message {
    color: red;
    margin-top: 10px;
}


/* ---------------------------------- Album Page Style---------------------------------- */


.albumpage-navbar {
    background-color: #123456;
    color: #ffffff;
    font-family: Arial, sans-serif;
    height: 57px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

/*logout button*/
.albumpage-navbar button {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-right: auto;
    background-color: #123456;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15pc;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0 0 0;
}

.albumpage-navbar button:hover{
    background-color: #0056b3;
    border-radius: 15pc;
}

.albumpage-navbar .navbar-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
}

/*Navigations buttons "Previous" and "Next"*/
.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.nav-placeholder {
    flex: 1;
    display: flex;
}

.nav-placeholder.previous {
    justify-content: flex-start;
    padding-left: 30px;
}

.nav-placeholder.next {
    justify-content: flex-end;
    padding-right: 30px;
}

.navigation .nav-button {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 9px;
    margin: 15px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px #9e9e9e;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.navigation .nav-button:hover {
    background-color: #0056b3;
}

/* Images Layout*/
/* Images Container */
.images-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
}

.image-cell {
    width: 270px;
    height: 240px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
}

.image-item {
    width: 270px;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 8px #9e9e9e;
    transition: opacity 0.3s ease;
}

.image-item:hover {
    opacity: 0.75;
}

.image-title {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.empty-cell {
    width: 100%;
    height: 190px;
}

/* Show the content corresponding to the selected radio button */
#imagesPanel:checked ~ #imagesContent,
#orderPanel:checked ~ #orderContent {
    display: block;
}

#albumContent, #orderContent {
    margin: 40px auto;
    max-width: 1200px;
    text-align: center;
}

#editOrderButton,
#saveOrderButton {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 9px;
    margin: 15px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px #9e9e9e;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#editOrderButton:hover,
#saveOrderButton:hover {
    background-color: #0056b3;
}

.image-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#imagesOrderList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    text-align: center;
}

#imagesOrderList li {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    font-weight: bold;
}

#imagesOrderList li:active {
    cursor: grabbing;
}


/* ---------------------------------- Image Page Style---------------------------------- */


.imagepage-navbar {
    background-color: #123456;
    color: #ffffff;
    font-family: Arial, sans-serif;
    height: 57px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.imagepage-navbar .navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.imagepage-navbar .navbar-title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    flex-grow: 1;
    margin: 0;
    margin-right: 40px;
}

.imagepage-navbar .nav-button.logout-button {
    margin-left: auto;
    margin-right: 1px;
    box-shadow: 0 0 0;
}

.imagepage-navbar .nav-button button {
    background-color: #123456;
    font-size: 1em;
    width: 80px;
    height: 40px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 15pc;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0 0 0;
}

.imagepage-navbar .nav-button button:hover {
    background-color: #0056b3;
    border-radius: 15pc;
}

.image-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 6px #a6a6a6;
    border-radius: 20px;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.comment-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 6px #a6a6a6;
    border-radius: 20px;
}

.comments-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comments-list li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #f9f9f9;
}

.comments-list li::marker {
    content: none;
}

.error-message {
    color: red;
    background-color: #ffeeee;
    padding: 1rem;
    text-align: center;
    margin-top: 40px;
}

.success-message {
    color: green;
    background-color: #eeffee;
    padding: 1rem;
    text-align: center;
    margin-top: 40px;
}

.modal {
    display: none;
    margin-top: 100px;
}

#closeModalButton{
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 9px;
    margin: 15px auto;
    display: block;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px #9e9e9e;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#closeModalButton:hover {
    background-color: #0056b3;
}

#imagesPanel:checked ~ #imageModal {
    display: block;
}

#orderPanel:checked ~ #imageModal {
    display: none !important;
}

/* ---------------------------------- Error Page Style---------------------------------- */
.error-page-container {
    text-align: center;
}

.hidden {
    display: none;
}