<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../css/homeOne.css">
</head>

<body>
<header class="header">
    <div class="header-content">
        <div class="logo">
            <img src="OfficialLogo.png" alt="Image Gallery Logo">
            <span class="logo-text">Image Gallery™</span>
        </div>
        <div class="buttons">
            <button type="button" class="btn">Logout</button>
        </div>
    </div>
</header>


<nav class="secondary-nav">
    <div class="secondary-buttons">
        <button type="button" class="btn btn-down">
            <img src="add-folder-svgrepo-com.svg" class="btn-icon" alt="add icon">Add Album</button>
        <button type="button" class="btn btn-down">
            <img src="gallery-add-svgrepo-com.svg" class="btn-icon" alt="add icon">Add photo</button>
        <button type="button" class="btn btn-down">Others Album</button>
    </div>
</nav>

<!-- Album Section -->
<div class="album-container">
    <!-- Repeat this block for each album -->
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
             <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
            <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
            <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
            <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
            <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>
    <div class="album-card">
        <div class="thumbnail">Title</div>
        <div class="album-info">
            <div class="album-actions">
                <button class="btn view-btn">View</button>
                <span class="date">12/12/2023</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>