<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>

<!-- Navbar -->
<header class="imagepage-navbar">
    <nav class="navbar-content">
        <!-- Album page -->
        <form th:action="@{/image(albumId=${albumId}, imageId=${imageId})}" method="post" class="nav-button">
            <button type="submit" name="action" value="returnToAlbum">Album</button>
        </form>
        <!-- Home page -->
        <form th:action="@{/image(albumId=${albumId}, imageId=${imageId})}" method="post" class="nav-button">
            <button type="submit" name="action" value="returnToHome">Home</button>
        </form>
        <!-- Image Title -->
        <div class="navbar-title" th:text="${image.imageTitle}">Image Title</div>
        <!-- Logout -->
        <form th:action="@{/image(albumId=${albumId}, imageId=${imageId})}" method="post" class="nav-button logout-button">
            <button type="submit" name="action" value="logout">Logout</button>
        </form>
    </nav>
</header>

<!-- Success and Error messages -->
<div class="error-message" th:if="${imageErrorMessage != null}" th:text="${imageErrorMessage}"></div>
<div class="success-message" th:if="${addCommentSuccessMessage != null}" th:text="${addCommentSuccessMessage}"></div>

<!-- Image container -->
<div class="image-container">
    <th:block th:if="${image != null}">
        <img th:src="@{/uploads(imageId=${imageId})}" alt="Image">
        <p>Title: <span th:text="${image.imageTitle}"></span></p>
        <p>Description: <span th:text="${image.imageText}"></span></p>
        <p>Uploader: <span th:text="${image.imageUploader}"></span></p>
        <p>Date: <span th:text="${image.imageDate}"></span></p>
        <th:block th:if="${imageBelongToUser}">
            <form th:action="@{/image(albumId=${albumId}, imageId=${imageId})}" method="post">
                <button type="submit" name="action" value="deleteImage">Delete</button>
            </form>
        </th:block>
    </th:block>
</div>

<!-- Comments container -->
<div class="comment-container">
    <form th:action="@{/image(albumId=${albumId}, imageId=${imageId})}" method="post">
        <label for="commentText">Write a comment:</label>
        <textarea rows="5" cols="50" id="commentText" name="commentText" required minlength="1" maxlength="512" th:text="${param.commentText}"></textarea>
        <button type="submit" name="action" value="addComment">Send</button>
    </form>
    <div class="comments-list">
        <th:block th:if="${comments != null and !#lists.isEmpty(comments)}">
            <ul>
                <li th:each="comment : ${comments}">
                    <span th:text="${comment.commentAuthor}"></span>: <span th:text="${comment.commentText}"></span>
                </li>
            </ul>
        </th:block>
    </div>
</div>

</body>
</html>